In [1]:
#Import the necessary modules

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.mode.chained_assignment = None

In [2]:
# Help to display very large datasets. That means dataset with a lot of columns.

pd.set_option('display.max_colwidth', 20000)
out_put_path = r'../datasets/endline/output/'

In [3]:
#Use os and sys to setup a relative path to the current working directory in order to make python modules import easier.
import os
import sys

In [4]:
sys.path.append(os.path.join(os.path.dirname('__file__'), '..', 'utils'))

In [5]:
#functions is a module from the utils package. It gathers all the utility functions to perferm aggregation on columns.
from functions import *

In [6]:
#Read the csv file and ingest the data with pandas

fishers_df = pd.read_csv("../datasets/endline/input/fishers_end.csv", encoding="utf-8")

In [7]:
fishers_df.shape

(42, 194)

In [8]:
#Create a copy of the farmers_df to work with.
f_df = fishers_df.copy()

In [9]:
col_name = "Q2 – Sèks"
values = {"Gason":"Male", "Fi":"Female"}

sex_col = rename_col_values(f_df, col_name, values)
f_df["Sex"] = sex_col

In [10]:
n_f_df = f_df[["Sex"]]

In [11]:
n_f_df.head(1)

    Sex
0  Male

In [12]:
n_f_df.shape

(42, 1)

In [13]:
sex_def = count_freq_simple_answer(n_f_df, 'Sex')

In [14]:
sex_def

  response  frequency
0     Male         40
1   Female          1
2     None          1

In [15]:
col_name = "Q3 - Nan ki entèval laj ou sitiye ?  "
values = {"Mwens ke 25 lane":"Less than 25", 
          "Ant 25 ak 35 lane":"From 25 to 35",
          "Ant 35 ak 55 lane":"From 35 to 55",
          "Plis ke 55 lane":"Greater than 55",
         }

ages_col = rename_col_values(fishers_df, col_name, values)
col_name ="Age interval"
n_f_df[col_name] = pd.Series(ages_col)

ages_df = count_freq_simple_answer(n_f_df, col_name)
ages_df

          response  frequency
0  Greater than 55         10
1    From 35 to 55         14
2    From 25 to 35         13
3     Less than 25          4
4             None          1

In [16]:
col_name = "Q4 - Ki nivo edikasyon w"
values = {"Okenn Nivo":"None", 
          "primè":"Primary school",
          "Segondè":"High school",
          "Inivèsitè":"University",
         }

education_col = rename_col_values(fishers_df, col_name, values)
col_name ="Education level"
n_f_df[col_name] = pd.Series(education_col)

education_df = count_freq_simple_answer(n_f_df, col_name)
education_df

         response  frequency
0            None          7
1  Primary school         27
2     High school          7
3            None          1

In [17]:
col_name = "Q5 - Ou gen telefòn Digicel ?"
values = {"Wi":"Yes", 
          "Non":"No"
         }
phone_access_col =  rename_col_values(fishers_df, col_name, values)

col_name ="Access to phone"
n_f_df[col_name] = pd.Series(phone_access_col)

phone_access_df = count_freq_simple_answer(n_f_df, col_name)
phone_access_df

  response  frequency
0      Yes         38
1       No          3
2     None          1

In [18]:
col_name = "Q6 - Ki prensipal aktivite ou fe pou w viv? "
values = {"Agrikilti":"Agriculture", 
          "Elvaj":"Animal breeding",
          "Chabon ak bwa mang":"Charcoal with mangrove Woods",
          "Chabon ak lòt bwa":"Charcoal with woods of other trees",
          "Lòt (Presize)":"Other",
         }

income_source =  rename_col_with_multiple_values(fishers_df, col_name, values)
eng_col_name = "Income source"

n_f_df[eng_col_name] = pd.Series(income_source)

other_activities = []

for act in fishers_df["Presizyon 1 Lòt (Q6)"]:
    if type(act) != str:
        other_activities.append(None)
        continue
    other_activities.append("Fishing")

new_income_col = []

for i in range(len(other_activities)):
    if type(other_activities[i]) != str:
        new_income_col.append(n_f_df["Income source"][i])
        continue
    new_income_col.append(n_f_df["Income source"][i].replace("Other",  other_activities[i]))  

n_f_df[eng_col_name] = pd.Series(new_income_col)
     
patterns = ["Agriculture",
            "Animal breeding", 
            "Charcoal with mangrove Woods",
            "Charcoal with woods of other trees",
            "Fishing"]

income_source_df = count_freq_multiple_answer(n_f_df, eng_col_name, patterns)
income_source_df

                             response  frequency
0                     Animal breeding         13
1                             Fishing         26
2                         Agriculture         12
3  Charcoal with woods of other trees          5

In [19]:
col_name = "Q7 - Kisa mangwòv (oubyen mang) la ye selon oumenm ?"
values = {"Mwen pa konnen – Pase a Q12":"Don't know", 
          "Se yon pye bwa ki pwodwi mango":"A tree that produces mangoes",
          "Se yon rak bwa ki grandi bo lanmè":"A tree that grows in forest by the sea",
         }

environment_knowledge1 = rename_col_values(fishers_df, col_name, values)
col_name ="What are mangroves?"
n_f_df[col_name] = pd.Series(environment_knowledge1)

environment_knowledge1_df = count_freq_simple_answer(n_f_df, col_name)
environment_knowledge1_df

                                 response  frequency
0  A tree that grows in forest by the sea         37
1            A tree that produces mangoes          1
2                              Don't know          3
3                                    None          1

In [20]:
col_name = "Q8 - Eske ou konnen lwa oubyen règleman ki pale de mangwov (mang) ?"
values = {"Wi":"Yes", 
          "Non – Si non, pase a Q9":"No",
         }

environment_knowledge2 = rename_col_values(fishers_df, col_name, values)
n_f_df["Do you know the laws about mangroves?"] = pd.Series(environment_knowledge2)

environment_knowledge2_df = count_freq_simple_answer(n_f_df, "Do you know the laws about mangroves?")
environment_knowledge2_df

  response  frequency
0      Yes         24
1       No         17
2     None          1

In [21]:
col_name = "Q8.1 - Si wi, kiyès ?"
values = {"Kòd riral ":"Don't know", 
          "Dekrè sou anviwonman (2005) ":"Environment Decree (2005)",
          "Dekrè sou mangwòv (2013)":"Mangroves Decree (2013)",
          "Lòt (Presize) ":"Other",
         }
environment_knowledge3 =  rename_col_with_multiple_values(fishers_df, col_name, values)

n_f_df["What text of law about the environment do you know?"] = pd.Series(environment_knowledge3)

patterns = ["Don't know",
            "Environment Decree (2005)", 
            "Mangroves Decree (2013)", 
            "Other"]

col_name = "What text of law about the environment do you know?"

environment_knowledge3_df = count_freq_multiple_answer(n_f_df, col_name, patterns)
environment_knowledge3_df

                  response  frequency
0               Don't know         10
1                    Other          1
2  Mangroves Decree (2013)          9

In [22]:
col_name = "Q8.1.1 - Eskew konn kisa lwa sa yo di sou zafe pwoteksyon mangwov ?"
values = {"Wi":"Yes", 
          "Non – Si non pase a Q9":"No",
         }

environment_knowledge4 = rename_col_values(fishers_df, col_name, values)
col_name = "Do you know what the laws say about mangroves protection?"
n_f_df[col_name] = pd.Series(environment_knowledge4)

environment_knowledge4_df = count_freq_simple_answer(n_f_df, col_name)
environment_knowledge4_df

  response  frequency
0      Yes         24
1     None         11
2       No          7

In [23]:
col_name = "Q8.1.1.1- ki sa lwa yo di ? "
values = {"Pa fè kay nan mangwòv":"Don't know", 
          "Pa koute mangwòv yo":"Don't cut them",
          "Pa jete fatra/dechè plastik/vye materyo konstriksyon nan mangwòv yo ":"Do not throw garbage in the mangroves",
          "Lòt (Presize)":"Other",
         }
environment_knowledge5 =  rename_col_with_multiple_values(f_df, col_name, values)

col_name = "What does the law about the environment and mangrove protection say?"
n_f_df[col_name] = pd.Series(environment_knowledge5)

patterns = ["Don't know",
            "Don't cut them", 
            "Do not throw garbage in the mangroves", 
            "Other"]

environment_knowledge5_df = count_freq_multiple_answer(n_f_df, col_name, patterns)
environment_knowledge5_df

                                response  frequency
0                         Don't cut them         20
1  Do not throw garbage in the mangroves         14
2                             Don't know          3
3                                  Other          1

In [24]:
col_name = "Q9 - Ki enpotans ou konnen mang lan genyen ?"
values = {"Li kontribiye a bay sekirite alimantè (gras ak pwodwi pèch li ofri yo)":"It contributes to food security (thank to fishing products)", 
          "Pwoteksyon konn inondasyon ":"Prevent flooding",
          "Pwoteksyon kot yo ak resif yo":"Protect the reefs",
          "Se espas kote anpil zwazo viv ak repwodwi":"Birds habitat",
          "Refij pou fwi lame (kòm pwason, krab ak sirik) repwodwi oubyen grandi ":"Growing environment for crustaceans",
          "Lòt (Presize)":"Other",
         }
environment_knowledge6 =  rename_col_with_multiple_values(f_df, col_name, values)

n_f_df["What is the importance of the mangroves?"] = pd.Series(environment_knowledge6)

patterns = ["It contributes to food security (thank to fishing products)",
            "Prevent flooding", 
            "Protect the reefs", 
            "Birds habitat",
            "Growing environment for crustaceans",
            "Other"]

col_name = "What is the importance of the mangroves?"

environment_knowledge6_df = count_freq_multiple_answer(n_f_df, col_name, patterns)
environment_knowledge6_df

                                                      response  frequency
0                                            Protect the reefs         16
1                          Growing environment for crustaceans         22
2  It contributes to food security (thank to fishing products)         18
3                                             Prevent flooding         17
4                                                Birds habitat         14
5                                                        Other          2

In [25]:
col_name = "Q10 - Daprè ou, èske mang lan an danje ?"
values = {"Wi":"Yes", 
          "Non – Si non, pase a Q11":"No",
         }

environment_knowledge7 = rename_col_values(f_df, col_name, values)
n_f_df["Are mangroves in danger?"] = pd.Series(environment_knowledge7)

environment_knowledge7_df = count_freq_simple_answer(n_f_df, "Are mangroves in danger?")
environment_knowledge7_df

  response  frequency
0      Yes         36
1       No          5
2     None          1

In [26]:
col_name = "Q10.1 Poukisa selon ou mang lan an danje ? "
values = {"Leta a pa prezan/pa gen kontwòl nan jan moun ap eksplwate mangwòv yo":"Absence of government/no control of mangroves exploitation", 
          "Kominote ap mal eksplwate mangwòv yo (Yo koupe yo twòp pou fe chabon ak kay)":"Community over-exploitation of mangroves",
          "Mangwòv yo ap fin konble ak tè ki soti nan tèt mòn yo akoz ewozyon ":"Continuous deposition of sediments in mangroves",
          "Nivo lamè a ap bese lakoz gen plantasyon mangwòv ki ap fin seche":"Decrease in the sea level",
          "Moun yo ap konstwi kay nan espas kote ki ta dwe gen mang selman, ":"Urbanization of mangrove areas",
          "Yo jete anpil fatra (dechè plastik, vye materyo konstriksyon) nan espas mangwòv yo ":"Mangroves become a dumping ground for garbage",
          "Lòt (Presize)":"Other",
         }

environment_knowledge8 =  rename_col_with_multiple_values(f_df, col_name, values)

col_name = "Why do you believe the mangroves are in danger?"
n_f_df[col_name] = pd.Series(environment_knowledge8)

patterns = ["Absence of government/no control of mangroves exploitation",
            "Community over-exploitation of mangroves", 
            "Continuous deposition of sediments in mangroves", 
            "Decrease in the sea level",
            "Urbanization of mangrove areas",
            "Mangroves become a dumping ground for garbage",
            "Other"]

environment_knowledge8_df = count_freq_multiple_answer(n_f_df, col_name, patterns)
environment_knowledge8_df

                                                     response  frequency
0  Absence of government/no control of mangroves exploitation         28
1                    Community over-exploitation of mangroves         18
2             Continuous deposition of sediments in mangroves         14
3                                   Decrease in the sea level         13
4                              Urbanization of mangrove areas         10
5               Mangroves become a dumping ground for garbage          6
6                                                       Other          1

In [27]:
col_name = "Q11 - Eske ou konnen ki aksyon oubyen mezi ki ka pwoteje mang lan ?"
values = {"Wi":"Yes", 
          "Non – SI non, pase a Q12":"No",
         }

environment_knowledge9 = rename_col_values(f_df, col_name, values)
col_name = "Do you know what can be done to protect the mangroves?"
n_f_df[col_name] = pd.Series(environment_knowledge9)

environment_knowledge9_df = count_freq_simple_answer(n_f_df, col_name)
environment_knowledge9_df

  response  frequency
0      Yes         38
1       No          3
2     None          1

In [28]:
col_name = "Q11.1 Kisa ki kap fèt pou pwoteje mangwòv yo selon ou ? "
values = {"Elabore yon plan jesyon ak amenajman kominotè ":"Elaborate a plan with community management", 
          "Met sou pye yon komite jesyon":"Organize a management committee",
          "Itilize espas mangwòv yo pou bay moun yo lot resous tankou elvaj myèl":"Use mangroves areas for bee keeping",
          "Plante plis mang ":"Plant more mangroves",
          "Valorize espas ak resous li yo atravè aktivite touris":"Valorize mangroves forest with tourism",
          "Edikasyon ak sansibilizsyon popilasyon an sou jan yo dwe eksplwate l":"Educate and sensitize the population on how to exploit mangroves",
          "Mete an aplikasyon lwa ak reglemantasyon sou mangwòv yo ":"Enforce law to protect the mangroves",
          "Konsèvasyon sòl nan mòn yo ak rebwazman nan basen vesan an ":"Soil conservation in the mountains",
          "Itilize materyèl pèch ki pi dirab":"use of fishing tools that are more durable",
          "Lòt (Presize)":"Other",
         }

environment_knowledge10 =  rename_col_with_multiple_values(f_df, col_name, values)

col_name = "What can be done to protect the mangroves according to you?"
n_f_df[col_name] = pd.Series(environment_knowledge10)

patterns = ["Elaborate a plan with community management",
            "Organize a management committee", 
            "Use mangroves areas for bee keeping", 
            "Plant more mangroves",
            "Valorize mangroves forest with tourism",
            "Educate and sensitize the population on how to exploit mangroves",
            "Enforce law to protect the mangroves",
            "Soil conservation in the mountains",
            "use of fishing tools that are more durable",
            "Other"]



environment_knowledge10_df = count_freq_multiple_answer(n_f_df, col_name, patterns)
environment_knowledge10_df

                                                           response  frequency
0                        Elaborate a plan with community management         30
1                                   Organize a management committee         17
2                               Use mangroves areas for bee keeping          9
3                                              Plant more mangroves         17
4                            Valorize mangroves forest with tourism         11
5  Educate and sensitize the population on how to exploit mangroves         11
6                              Enforce law to protect the mangroves         10
7                                Soil conservation in the mountains         11
8                        use of fishing tools that are more durable          3
9                                                             Other          7

In [29]:
col_name = "Q13- Ki enpòtans ou konnen yon pye bwa genyen ?"
values = {"Kenbe tè yo kont ewozyon ":"Protect soil agains erosion", 
          "Pemèt dlo rantre byen nan tè a":"Facilitate water filtration to the ground",
          "Bay manje pou moun ak bet":"Provide food for human and animals",
          "Medikaman natirèl":"Natural medicines",
          "Kontwole tanperati a":"Controle the earth temperature",
          "Bay oksijèn pou moun respire byen ":"Provide oxygen",
          "Mwen pa konnen":"Don't know",
          "Pwoteksyon kont inondasyon":"Protection against flooding",
          "Pwoteksyon kont gwo van (briz van) ":"Wind breaker",
          "Lòt (Presize)":"Other",
         }

environment_knowledge11 =  rename_col_with_multiple_values(f_df, col_name, values)

col_name = "What is the importance of trees according to you?"
n_f_df[col_name] = pd.Series(environment_knowledge11)

patterns = ["Protect soil agains erosion",
            "Facilitate water filtration to the ground", 
            "Provide food for human and animals", 
            "Natural medicines",
            "Controle the earth temperature",
            "Provide oxygen",
            "Don't know",
            "Protection against flooding",
            "Wind breaker",
            "Other"]

environment_knowledge11_df = count_freq_multiple_answer(n_f_df, col_name, patterns)
environment_knowledge11_df

                                    response  frequency
0                Protect soil agains erosion         19
1  Facilitate water filtration to the ground         17
2                          Natural medicines         13
3             Controle the earth temperature         10
4                             Provide oxygen         21
5                Protection against flooding         17
6                               Wind breaker          9
7                                      Other          4
8         Provide food for human and animals         13
9                                 Don't know          3

In [30]:
col_name = "Q15- Eske ou konn koman pou w fe pepinye pou pwodwi pye bwa ?"

values = {"Wi":"Yes", 
          "Non":"No",
         }

environment_knowledge12 = rename_col_values(f_df, col_name, values)
col_name = "Do you have skills in tree nursery"

n_f_df[col_name] = pd.Series(environment_knowledge12)

environment_knowledge12_df = count_freq_simple_answer(n_f_df, col_name)
environment_knowledge12_df

  response  frequency
0      Yes         25
1       No         16
2     None          1

In [31]:
col_name = "Q16 - Eske ou prè pou w patisipe nan fòmasyon pou w konn kijan pou w pwoteje chan mangwòv yo ?"

values = {"Wi":"Yes", 
          "Non":"No",
         }

environment_knowledge13 = rename_col_values(f_df, col_name, values)
col_name = "Are you willing to be trained in tree nursery?"
n_f_df[col_name] = pd.Series(environment_knowledge13)

environment_knowledge13_df = count_freq_simple_answer(n_f_df, col_name)
environment_knowledge13_df

  response  frequency
0      Yes         40
1     None          2

In [32]:
col_name = "Q17 - Eske w ou ta renmen pran fòmasyon pou konnen kijan pou w fe pepinyè pou pwodwi pye mang ?"
values = {"Wi":"Yes", 
          "Non":"No",
         }

environment_knowledge14 = rename_col_values(f_df, col_name, values)
col_name = "Are you willing to be trained in mangroves nursery?"
n_f_df[col_name] = pd.Series(environment_knowledge14)

environment_knowledge14_df = count_freq_simple_answer(n_f_df, col_name)
environment_knowledge14_df

  response  frequency
0      Yes         40
1       No          1
2     None          1

In [33]:
col_name = "Q18 – Eske ou pre pou w aprann lot teknik pech pou w ka pi byen eksplwate lamè a?"
values = {"Wi":"Yes", 
          "Non":"No",
         }

environment_knowledge15 = rename_col_values(f_df, col_name, values)
col_name = "Are you willing to learn new fishing technics?"
n_f_df[col_name] = pd.Series(environment_knowledge15)

environment_knowledge15_df = count_freq_simple_answer(n_f_df, col_name)
environment_knowledge15_df

  response  frequency
0      Yes         41
1     None          1

In [34]:
col_name = "Q19 - Eske w prè pou w itilize materyel pèch ki ka pwoteje ti pwason ?"
values = {"Wi":"Yes", 
          "Non":"No",
         }

environment_knowledge16 = rename_col_values(f_df, col_name, values)
col_name = "Are you willing to use better fishing equipement to protect the baby fishes?"
n_f_df[col_name] = pd.Series(environment_knowledge16)

environment_knowledge16_df = count_freq_simple_answer(n_f_df, col_name)
environment_knowledge16_df

  response  frequency
0      Yes         41
1     None          1

In [35]:
col_name = "Q22.1- Ou toujou al peche chak semèn nan yon mwa ?  "
values = {"Wi":"Yes", 
          "Non":"No",
         }

environment_knowledge16 = rename_col_values(f_df, col_name, values)
col_name = "Do you go to fish every week of a month?"
n_f_df[col_name] = pd.Series(environment_knowledge16)

environment_knowledge16_df = count_freq_simple_answer(n_f_df, col_name)
environment_knowledge16_df

  response  frequency
0      Yes         36
1       No          5
2     None          1

In [36]:
n_f_df["What is your average fishing income on a week?"] = f_df["Q22 - Kisa pèch la rapotew nan yon semen konsa ? "]

In [37]:
col_name = "Q12 – Ki kilti ou pi byen konn pratike ?"
values = {"Mayi":"Corn", 
          "Pitimi":"Sorgho",
          "Pistach":"Peanut",
          "Pwa Kongo":"Pigeon pea",
          "Pwa (pwa nwa ak lot varyete)":"Bean (Haricot)",
          "Vetivè":"Vetiver",
          "Yanm":"Yam",
          "Bannann":"Banana tree",
          "Sitwon":"Lemon",
          "Lòt (Presize)":"Other",
         }

environment_knowledge17 =  rename_col_with_multiple_values(f_df, col_name, values)

col_name = "What culture you practice the best?"
n_f_df[col_name] = pd.Series(environment_knowledge17)


precis_l = [ i.strip().lower() if type(i) == str else None for i in f_df["Presizyon 1 Lòt (Q12)"]]

precis = []

for e in precis_l:
    if type(e) != str:
        precis.append(None)
        continue
    elif e == 'melon':
        precis.append('Melon')
    elif e == 'pèch' or e =='pech' or e == 'peche' or 'la peche':
        precis.append("Peach")
    elif e == 'pech ,melon':
        precis.append("Peach Melon")
    elif e == 'manyòk ak melon':
        precis.append("Manioc Melon")
    elif e == 'joumou':
        precis.append("Giraumon")
    elif e == 'manioc':
        precis.append("Manioc")
    else: 
        precis.append(None)
        
new_precis_col = []

for i in range(len(precis)):
    if type(precis[i]) != str:
        new_precis_col.append(n_f_df[col_name][i])
        continue
    new_precis_col.append(n_f_df[col_name][i] + ' ' + precis[i]) 

n_f_df[col_name] = pd.Series(new_precis_col)
  
patterns = ["Corn",
            "Sorgho",
            'Melon',
            'Peach',
            'Giraumon',
            "Peanut", 
            'Manioc',
            "Pigeon pea",
            "Bean (Haricot)",
            "Vetiver",
            "Yam",
            "Banana tree",
            "Lemon",
            "Other"]

environment_knowledge17_df = count_freq_multiple_answer(n_f_df, col_name, patterns)
environment_knowledge17_df

         response  frequency
0            Corn         22
1          Sorgho         15
2      Pigeon pea         13
3  Bean (Haricot)          5
4             Yam          9
5     Banana tree         12
6           Peach         12
7           Other         18
8          Peanut          2
9           Melon          6

In [38]:
col_name = "Q14- Pratik agrikòl – Eske ou konn ?"
values = {"Plante pistach nan flan mòn yo":"Grow peanuts on the mountainsides", 
          "Plante pistach, vetivè, manyòk, yanm ak lot kilti ki ka rache le wap rekolte yo oubyen ou fouye te a le wap rekolte yo nan flan mòn yo":"Cultivate seasonal crops on the mountainsides",
          "Laboure te ki nan flan mòn yo":"Plowing the soil",
          "Fe misek pou pwoteje tè a kont erozyon":"Soil conservation with dry walls",
          "Fe ranp vivan pou pwoteje te yo kont ewozyon":"Soil conservation with living ramp",
          "Fe kanal koutou pou pemet plis dlo rantre nan te a ":"Irrigation canals",
          "Plante pye bwa nan jaden yo":"Plant trees in the gardens",
          "Plante banbou nan flan mon yo, bo rivye pou kenbe te yo":"Plant bamboos on the mountainsides",
          "Koupe pye bwa nan jaden yo":"Cut off trees in the garden",
          "Brile te a ak raje ki ladanl":"Burn the soil with the weeds",
          "Mete fimye nan plant yo":"Put organic fertilizer in the soil",
          "Mare bet nan jaden yo pou anrichi te a":"Breed animals after the crops to fertilize the soil",
          "Fe lot pratik nan jaden ou yo ":"Other",
         }

environment_knowledge18 =  rename_col_with_multiple_values(f_df, col_name, values)

col_name = "What agricultural practices do you know?"
n_f_df[col_name] = pd.Series(environment_knowledge18)

patterns = ["Grow peanuts on the mountainsides",
            "Cultivate seasonal crops on the mountainsides",
            'Plowing the soil',
            'Soil conservation with dry walls',
            'Soil conservation with living ramp',
            "Irrigation canals", 
            'Plant trees in the gardens',
            "Plant bamboos on the mountainsides",
            "Cut off trees in the garden",
            "Burn the soil with the weeds",
            "Put organic fertilizer in the soil",
            "Breed animals after the crops to fertilize the soil",
            "Other"]

environment_knowledge18_df = count_freq_multiple_answer(n_f_df, col_name, patterns)
environment_knowledge18_df

                                               response  frequency
0                      Soil conservation with dry walls          5
1                    Soil conservation with living ramp          7
2                                                 Other         18
3   Breed animals after the crops to fertilize the soil          9
4                                      Plowing the soil          2
5                            Plant trees in the gardens          8
6                          Burn the soil with the weeds          8
7         Cultivate seasonal crops on the mountainsides          1
8                                     Irrigation canals          2
9                           Cut off trees in the garden          4
10                   Put organic fertilizer in the soil         10
11                   Plant bamboos on the mountainsides          2

In [39]:
col_name = "Q20 – Pandan 12 mwa ki sot pase la yo kiles pami aktivite sa yo ou reyalize nan mangwòv la ?"
values = {"Sit pèch pou mete bato":"Parking for the boats", 
          "Koupe bwa vèt, ":"Cut out living trees",
          "Koupe bwa sèch, ":"Cut dead trees",
          "Elvaj myèl, ":"Beekeeping",
          "Peche pwason ak lot bet lanmè ":"Fishing",
          "Lòt (Presize)":"Other",
         }

environment_knowledge19 =  rename_col_with_multiple_values(f_df, col_name, values)

col_name = "For the pass 12 months, what activities did you do in the mangroves?"
n_f_df[col_name] = pd.Series(environment_knowledge19)

patterns = ["Parking for the boats",
            "Cut out living trees",
            'Cut dead trees',
            'Beekeeping',
            'Fishing',
            "Other"]

environment_knowledge19_df = count_freq_multiple_answer(n_f_df, col_name, patterns)
environment_knowledge19_df

                response  frequency
0                Fishing         35
1  Parking for the boats          6
2   Cut out living trees          6
3         Cut dead trees          6
4                  Other          2

In [40]:
col_name = "Q20.3 – Nan ki peryòd ou konn koupe mang yo ?"
values = {"Janvye":"January", 
          "Fevriye":"February",
          "Mas":"March",
          "Avril":"April",
          "Me":"May",
          "Jen":"June",
          "Jiyè":"July",
          "Out":"August",
          "Septanm":"September",
          "Novanm":"November",
          'Evenman (Presize)':'Other'
         }

environment_knowledge20 =  rename_col_with_multiple_values(f_df, col_name, values)

col_name = "When do you use to cut out the mangroves?"
n_f_df[col_name] = pd.Series(environment_knowledge20)

patterns = ["January",
            "February",
            'March',
            'April',
            'May',
            'June',
            'July',
            'August',
            'September',
            'October',
            'November',
            'December',
            "Other"]

environment_knowledge20_df = count_freq_multiple_answer(n_f_df, col_name, patterns)
environment_knowledge20_df

    response  frequency
0       July          7
1       June          9
2        May          1
3  September         10
4   November          8
5      Other         13
6   February          1
7     August          3
8      April          1
9      March          6

In [41]:
col_name = "Q21 - Ki materyel ak ekipman ou itilize pou peche?"
values = {"Bwa fouye":"pirogue", 
          "Bato ak motè":"Boat",
          "Filè moustikè":"Small mesh net",
          "Zen":"Hook",
          "Fisi":"Gun",
          "Lòt (presize)":"Other",
         }
#Nas :  
#Pat: Fin
#Layiloin: Nylon
#Mas: Glasses
#Fol: 
#Waya:

environment_knowledge21 =  rename_col_with_multiple_values(f_df, col_name, values)

col_name = "What equipement you use in fishing?"
n_f_df[col_name] = pd.Series(environment_knowledge21)

materials_l = [i.strip().lower() if type(i) == str else None for i in f_df["Presizyon 1 Lòt (Q21)"]]
materials = []

for e in materials_l:
    if type(e) != str:
        materials.append(None)
        continue
    elif e == 'nas':
        materials.append('Fishing Trap')
    elif e == 'layilòn':
        materials.append("Nylon")
    elif e == 'mas':
        materials.append("Diving glasses")
    elif e == 'pat':
        materials.append("Fin")
    else: 
        materials.append(None)
        
new_materials_col = []

for i in range(len(materials)):
    if type(materials[i]) != str:
        new_materials_col.append(n_f_df[col_name][i])
        continue
    new_materials_col.append(n_f_df[col_name][i] + ' ' + materials[i]) 
    
n_f_df[col_name] = pd.Series(new_materials_col)

patterns = ["Pirogue",
            "Boat",
            'Small mesh net',
            'Hook',
            'Gun',
            'Diving glasses',
            'Fishing Trap',
            'Nylon',
            "Fin",
            "Other"]

environment_knowledge21_df = count_freq_multiple_answer(n_f_df, col_name, patterns)
environment_knowledge21_df

         response  frequency
0            Hook         32
1  Small mesh net         16
2           Other         17
3             Gun         10

In [42]:
#n_f_df.head()

In [43]:
n_f_df.to_csv (out_put_path + 'fihsers_clean_end.csv', index = False, header=True)

In [44]:
col_name = "What does the law about the environment and mangrove protection say?"
n_total3 = n_f_df[[col_name]].dropna()[col_name].count()
n_total3

25